extends layout

block content
  div.container
    table
      thead
        tr
          th
            | Card
          th
            | Do you have it?
      tbody
        - each card in cards
          tr
            td
              if card.have
                span(style="color: gray")= card.cardName
              else
                b=card.cardName
            td= card.have
