extends layout

block content
  div.container
    h2
      | FAQ
    h4
      | Why does my number (X/50) show differently than in-game?
    p
      | If you've noticed that your have a number different than what it is posted, you've
      | probably gotten some fragments on your alternate characters. Unfortunately, this tool
      | does not separate between your characters since Bungie does not provide such data.
      | For example, if you've gotten fragment #8 on your hunter and #2 on your warlock, my tool
      | will tell you that you've gotten 2/50. But really, each character only has 1/50.