extends layout

block content
  div.container
    h3
      | Destiny Calcified Fragments
    p(style="max-width:500px")
      | A tool that lets you know which calcified fragments you have. There are 50 fragments in
      | total where 45 of them are required to obtain an exotic weapon called the&nbsp;
      a(href="http://planetdestiny.com/touch-of-malice-quest-guide/" target="_new")
        | Touch of Malice
      |. This tool is based off your Grimoire cards and cannot differentiate between characters.
  div.container
    form(method="POST")
      div.row
        div.four.columns
          label
            | Gamertag
          input.u-full-width(type="text" name="gamertag")
        div.four.columns
          label
            | System
          select.u-full-width(name="system")
            option(value="1")
              | Xbox
            option(value="2")
              | Playstation
        div.four.columns
          label
            | &nbsp;
          input.button-primary(type="submit" value="Get My Fragments")