extends layout

block content
  div.container
    h3="Destiny " + title
    p(style="max-width:500px")
      if type === "fragments"
        | A tool that lets you know which calcified fragments you have and how to get them.
        | There are 50 fragments in total where 45 of them are required to obtain an exotic
        | weapon called the&nbsp;
        a(href="http://planetdestiny.com/touch-of-malice-quest-guide/" target="_new")
          | Touch of Malice
        |.
      else if type === "ghosts"
        | Dead Ghosts are in-game collectables that are found throughout the game. This tool helps
        | you figure out which ones you have and which ones you don't and provides guides to
        | help you find them.
      else if type === "siva"
        | SIVA Clusters are the new thing in Destiny Rise of Iron. We really don't have
        | much information about these, but if you'd like to contribute with videos or notes 
        | please send me a tweet 
        a(href="https://twitter.com/StevenLu")
          | @StevenLu
  div.container
    form(method="POST")
      div.row
        div.four.columns
          label
            | Gamertag
          input.u-full-width(type="text" name="gamertag" required="required" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
        div.four.columns
          label
            | System
          select.u-full-width(name="system" required="required")
            option(value="1")
              | Xbox
            option(value="2")
              | Playstation
        div.four.columns
          label
            | &nbsp;
          input.button-primary(type="submit" value="Get My " + type)
  div.container
    p(style="max-width:500px")
      if type != "ghosts"
        | Looking for dead ghosts?&nbsp;
        a(href="http://destinydeadghosts.com")
          | destinydeadghosts.com
        br
      if type === "fragments"
        | Looking for calcified fragments?&nbsp;
        a(href="http://destinycalcifiedfragments.com")
          | destinycalcifiedfragments.com
        br
      if type === "siva"
        | Looking for siva clusters?&nbsp;
        a(href="http://destinysivaclusters.com")
          | destinysivaclusters.com
