doctype html
html
  head
    meta(http-equiv="Content-Type" context="text/html; charset=utf-8")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport")
    title="Destiny " + title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
    link(rel='apple-touch-icon' href='http://stevenlu.com/images/calcified-fragment.png')
  body(style="font:14px 'Lucida Grande',Helvetica,Arial,sans-serif;padding:20px 0")
    block content

    div.container
      | Made by&nbsp;
      a(href="http://twitter.com/stevenlu")
        | @StevenLu
      | &nbsp;part of&nbsp;
      a(href="https://www.bungie.net/en/Clan/Detail/484934")
        | The Looney Bin
      | &nbsp;&middot;
      | Wanna help out by&nbsp;
      a(href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=S3CDJSYSE7YQN&lc=US&item_name=destinycalcifiedfragments%2ecom&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted")
        | donating
      |?

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-68239009-1', 'auto');
      | ga('send', 'pageview');