doctype html
html
  head
    meta(http-equiv="Content-Type" context="text/html; charset=utf-8")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport")
    title
      | Destiny Calcified Fragments
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    div.container
      | Made by&nbsp;
      a(href="http://stevenlu.com")
        | Steven Lu
      | &nbsp;part of&nbsp;
      a(href="https://www.bungie.net/en/Clan/Detail/484934")
        | The Looney Bin